/*Rena Parlor CSS*/
@import url('https://fonts.googleapis.com/css?family=Century+Gothic');
@import url('https://fonts.googleapis.com/css?family=Segoe+Ui+Light');
@import url('https://fonts.googleapis.com/css?family=Segoe+Ui');
body{
	padding: 0;
	margin: 0;
	background: #f9f9f9;
}
html {
	-webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

/*Section 1 | the intro */
.section1{
	height: 660px;
	width: 100%;
	background: url("Rena Images/mainbg.jpg");
	background-color: #f9f9f9;
}

/*The menu*/
.menu{
	width: 100%;
	height: 40;
}
.menu a{
	font-family: segoe ui light;
	text-decoration: none;
	font-size: 15px;
	color: #fff;
	display: inline-grid;
	margin-left: 20px;
	position: relative;
	top: 5px;
	transition: .20s linear;
}
.menu a:hover{
	color: #ffa800;
}
/*text ids*/
#hid{
	font-family: segoe ui light;
	font-size: 45px;
	padding: 0;
	margin: 0;
	color: #fff;
}

/*text content*/
.content-placer{
	position: relative;
	text-align: center;
	top: 150px;
}


/*Section 2 | about the author*/
.section2{
	width: 85%;
	background: #f70000 url("Rena Images/section2bg.jpg");
	box-shadow: 1px 3px 19px 1px rgba(0,0,0,0.7);
	-moz-box-shadow: 1px 3px 19px 1px rgba(0,0,0,0.7);
	-webkit-box-shadow: 1px 3px 19px 1px rgba(0,0,0,0.7);
}

/*the text ids*/
#mid{
	font-family: segoe ui light;
	font-size: 28.5px;
	padding: 0;
	margin: 0;
	color: #fff;
}
#nameid{
	font-family: segoe ui light;
	font-size: 20px;
	padding: 0;
	margin: 0;
	color: #fff;
}
#p-id{
	font-family: segoe ui light;
	text-align: left;
	font-size: 14px;
	padding: 0;
	margin: 0;
	color: #fff;
	display: grid;
}
#p-id2{
	font-family: segoe ui light;
	font-size: 14px;
	padding: 0;
	margin: 0;
	color: #fff;
}

/*the content*/
#imageorb{
	width: 200px;
	height: 200px;
	background: url("Rena Images/face.jpg");
	border-radius: 100%;
	background-position: -100px, 0;
}
.content-holder{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 1.8%;
	margin-right: 5px;
}
#more-on-id{
	font-family: segoe ui light;
	width: 150px;
	height: 40px;
	background: #ff7000;
	margin: 5;
	padding: 5;
	border: 0;
	border-radius: 50px;
	margin-top: 10px;
	color: #fff;
	transition: 0.20s linear;
	margin-bottom: 20px;
}
#more-on-id:hover{
	background: rgba(255,0,0,0.8);
}


/*Section-3*/
.section3{
	width: 100%;
	height: 700px;
	margin-top: 150px;
	background: #910013;
	overflow: hidden;
}
.two{
	display: inline-grid;
	grid-row: auto;
	grid-column: auto;
}
#nhid{
	font-family: segoe ui light;
	font-size: 40px;
	padding: 0;
	margin: 0;
	color: #000;
}
#np-id{
	font-family: segoe ui light;
	text-align: left;
	font-size: 15px;
	padding: 0;
	margin: 0;
	color: #000;
}
#l-id{
	font-family: segoe ui light;
	font-size: 16px;
	color: #fff;
}
.conposl{
	margin: 5em;
}
/*the boxes*/
#box_id{
	width: 200px;
	height: 150px;
	background: #ffa800;
	margin: 0em;
	padding: 0;
}



/*Section 4 | Giving Rena Pralors contacts*/
.section4{
	width: 100%;
	margin-top: 150px;
	background: #ffa800;
}
.section4 div {
	width: 250px;
	height: 150px;
	margin: 2em;
	background-color: #910010;
	display: inline-grid;
	grid-row: auto;
	grid-column: auto;
	box-shadow: 3px 3px 29px rgba(0,0,0,0.7);
	-webkit-box-shadow: 3px 3px 29px rgba(0,0,0,0.7);
	-moz-box-shadow: 3px 3px 29px rgba(0,0,0,0.7); 
}
#numh{
	font-family: segoe ui light, century gothic;
	font-size: 25px;
	margin-top: 5px;
	padding: 0;
	color: #fff;
}
#pn-id{
	font-family: segoe ui light;
	font-size: 14;
	color: #fff;
	padding: 0;
	margin-top: 5px;
}
#np-id2{
	font-family: segoe ui light;
	font-size: 90%;
	color: #000;
	padding: 0;
	margin: 0;
}


/*---------section five code | where we are*/

#section5{
	background: url("Rena Images/earth.jpg");
	background-position: -5;
	width: 100%;
	height: 600px;
	margin-top: 200px;
}
#nl-id{
	font-family: segoe ui;
	font-size: 14px;
	color: #000;
}
#np-idw{
	font-family: segoe ui light;
	font-size: 15px;
	color: #000;
	padding: 0;
	margin: 0;
}
.poser{
	display: inline-grid;
	grid-row: auto;
	grid-column: auto;
	margin-top: 100px;
}





/*section 6 | share and follow us*/
.section6{
	margin-top: 150px;
	width: 100%;
	height: 500px;
	background: url("Rena Images/section6bg.jpg");
	box-shadow: 1px 3px 19px 1px rgba(0,0,0,0.7);
	-webkit-box-shadow: 1px 3px 19px 1px rgba(0,0,0,0.7);
	-moz-box-shadow: 1px 3px 19px 1px rgba(0,0,0,0.7);
}
.section6 img{
	width: 50px;
	height: 50px;
	display: inline-grid;
	grid-row: auto;
	grid-column: auto;
	margin: 1em;
}





/*Frome here is the author page css*/
.more-on-div{
	width: 500px;
	height: 660px;
	background-color: #004a7f;
	overflow: hidden;
}
#author-header{
	font-family: century gothic, segoe ui light;
	font-size: 35px;
	color: #fff;
	padding: 0;
	margin: 0;
}
.content-holder2{
	padding-top: 20%;
	margin-left: 10%;
}
.pholder{
	width: 200px;
	margin-top: 20px;
}
#p-id2{
	font-family: Segoe ui light;
	font-size: 14px;
	color: #fff;
	padding: 0;
	margin: 0;
	line-height: 2em;
}
/*//////////////////*/

.header-author{
	width: 500px;
	height: 60px;
	position: relative;
	left: 600px;
	bottom: 400px;
	overflow: hidden;
}
#shid{
	font-family: segoe ui light;
	font-size: 40px;
	color: #000;
	padding: 0;
	margin: 0;
}

/*/////////////////*/
#np-id3{
	font-family: Segoe ui light;
	font-size: 14px;
	color: #000;
	padding: 0;
	margin: 0;
	line-height: 2em;
}
.con-placer{
	position: relative;
	overflow: hidden;
	left: 40%;
}
.p-holder{
	width: 350px;
	margin-top: 20px;
	height: 400px;
	overflow: hidden;
}






/*////////////////////////////////The service page CSS*/

.the-services{
	width: 100%;
	background: url("Rena Images/sec6bg.jpg");
	margin-top: 80px;
}
#semi-header{
	font-family: segoe ui light;
	font-size: 20px;
	color: #fff;
	padding: 0;
	margin: 0;
}
#serv-list{
	font-family: "verdana";
	font-size: 13px;
	color: #fff;
	line-height: 2em;
}
/*spr line*/
.pos-1{
	display: inline-grid;
	grid-row: auto;
	grid-column: auto;
	margin: 2em;
}
.all-info{
	margin-top: 100px;
}
.fep{
	width: 100%;
}
#nhid-2{
	font-family: segoe ui, century gothic;
	font-size: 36px;
	color: #000;
	padding: 0;
	margin: 0;
	margin-left: 1%;
}
/*where the info starts ~|~ fem*/
#nsemi-header{
	font-family: segoe ui light, century gothic;
	font-size: 25px;
	color: #000;
	padding: 0;
	margin: 2.5%;
}
#np-id3{
	font-family: segoe ui, century gothic;
	font-size: 15px;
	color: #000;
	padding: 0;
	margin: 2.5%;
}
/*~|~ fepasn */
#fepasn{
	width: 100%;
}
/*~|~ mfes*/
.mfes{
	width: 100%;
}
/*~|~ wdaft*/
.wdaft{
	width: 100%;
}